<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontak Kami</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css">
</head>
<body>

<div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>



       <!-- Main Content -->
       <div class="main-content">
        <section class="section">
          <div class="section-body">
        <div class="row">
      <div class="col-12 col-sm-6 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4>Contact Person</h4>
            <div class="card-header-action">
            </div>
          </div>
          <div class="card-body">
          <div class="row">
            <div class="col-4">
              <img src="https://ppdb.mtsn1kotadumai.sch.id/assets/img/avatar/support-custom.png"  width="150" >
            </div>
            <div class="col-8">
            <div class="row">
            <div class="gallery">
              <table class="table table-center table-sm">
                <tbody>
                  <tr>
                    <th scope="row">Nama</th>
                    <td>: Fannya</td>
                  </tr>
                  <tr>
                    <th scope="row">Contact</th>
                    <td>: +6283825787306</td>
                  </tr>
                  <tr>
                    <th scope="row">E-mail</th>
                    <td>: fannya@karyabangsa.sch.id</td>
                  </tr>
                  </td> 
                </tbody>
                      </table>
                      </div>
            </div>
            
                    </div>
                  </div>
                  <div class="row">
            <div class="col-4">
              <img src="https://ppdb.mtsn1kotadumai.sch.id/assets/img/avatar/support-custom.png"  width="150" >
            </div>
            <div class="col-8">
            <div class="row">
            <div class="gallery">
              <table class="table table-center table-sm">
                <tbody>
                  <tr>
                    <th scope="row">Name</th>
                    <td>: Imel</td>
                  </tr>
                  <tr>
                    <th scope="row">Contact</th>
                    <td>: +123456789</td>
                  </tr>
                  <tr>
                    <th scope="row">E-mail</th>
                    <td>: aztri@karyabangsa.sch.id</td>
                  </tr>
                  </td> 
                </tbody>
                      </table>
                      </div>
            </div>
                </div>
              </div>
              </div>
              </div>
        </div>
            </div>
          </div>
        </section>
      </div>


    </div>
  </div>


</body>

</html>